/* Predefined */

body{
  font-family: "Ubuntu",serif;
}

h1{
  font-weight: bold;
  font-size: 3.5em;
}

h2{
  font-size: 2em;
  font-weight: bold;
}

h3{
  font-size: 1.25em;
  font-weight: bold;
}

p{
  font-family: "Lora",serif;
}

a{
  color: black;
}

a:hover{
  color: #33CC66;
  text-decoration: none;
}

hr{
  width: 30%;
  border-top: 8px solid #33CC66;
}

li{
  padding-bottom: 20%;
}

/* General Purpose */

.lead{
  font-family: 'Lora',serif;
  font-style: italic;
  color: #33CC66;
  font-size: 1.25em;
}

.container{
  padding-top: 5%;
  padding-bottom: 5%;
}

.spacerl{
  padding-left: 2%;
}

.spacertr{
  padding-top: 0%;
}

.spacerb{
  margin-bottom: 5%;
}

.storysb
{
  margin-bottom: 5%;
}

.reverse{
  color:white;
}

.reverse> p{
  font-family: "Lora",serif;
}

.reverse> a:hover{
  color: #33CC66;
}

.wide{
  width: 100%;
}



/* Footer */
.feetbg{
  background-color: #33CC66;
  margin-top: 15%;
}

.feet{
  padding-top: 10%;
  padding-bottom: 10%;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.feet > .col-md-5 > p>a{
    color: white;
}

.feet > .col-md-5 > p>a:hover{
    opacity: .5;
}

.social{
  width: 3em;
  fill: white;
}

.footfix{
  margin-top: 10%;
}

.copyright{
  margin-top: 3%;
  font-size: .75em;
}

.social:hover{
  opacity: .5;
}

.typefix{
  font-family: "Ubuntu", sans-serif;
}

/* Navigation */

#nav{
  padding-top: 3%;
  padding-bottom: 0%;
}

#logo{
  font-size: 1.5em;
}

#navfix{
  padding-right: 0px;
}

.icon-bar{
  background-color: #33CC66;
}

.active{
  color: #33CC66;
  font-weight: bold;
}

.navbar-right {
  background-color:transparent;
  border-color:transparent;
  background-image:none;
  box-shadow:none;
}

.navbar .navbar-brand {
    position: relative;
    height: 60px;
    line-height: 30px;
    color: black;
}

.navbar-brand{
  padding: 15px 0px;
}

.navbar{
  font-family: "Ubuntu", sans-serif;
  box-sizing: content-box;
  font-size: 1.25em;
  margin-bottom: 0px;
  margin-top: 2%;
  color: black;
}

.navbar .brand, .navbar .nav > li > a:hover {
  color: #33CC66;
  background-color: transparent;
  font-size: inherit;
}

.navbar-toggle{
  padding-right: 0px;
}

/* Backgrounds */

.bgboxside{
  position: absolute;
  background-color: #33CC66;
  top: 40%;
  left: -4%;
  width: 108%;
  height: 50%;
  z-index: -1;
  transform: translateZ(-1px);
}

.bgboxcards{
  position: absolute;
  background-color: #33CC66;
  top: 25%;
  left: -5%;
  width: 110%;
  height: 77%;
  z-index: -1;
}

.bgboxdown{
  position: absolute;
  background-color: #33CC66;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 55%;
  z-index: -1;
}

.bgboxtext{
  background-color: #33CC66;
}

/* Cards */
.cards{
  max-height: 25%;
}

.cards> img{
  height: 60%;
  width: auto;
}

.cards> .cardtext{
  margin-bottom: 5%;
  padding: 5%;
  padding-bottom: 15%;
  background-color: white;
}

.cardfix{
  padding-left: 0px;
  padding-right: 0px;
}

.cardwrap{
  margin: 0px;
  padding-left: 0px;
}

.topcard{
  margin-top: 10%;
}

/* Animation & Extras */

.delay{
  -webkit-animation-delay: .5s;
}

.imgscroll > .row {
  overflow-x: auto;
  white-space: nowrap;
  padding-right: 2%;
  padding-left: 2%;
}
.imgscroll > .row > img {
  width: 50%;
  display: inline-block;
  float: none;
  padding-right: 2%;
  padding-left: 2%;
}
